@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 24.6 45% 95%;
    --foreground: 24.6 5% 10%;
    --card: 24.6 45% 90%;
    --card-foreground: 24.6 5% 15%;
    --popover: 24.6 45% 95%;
    --popover-foreground: 24.6 95% 10%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24.6 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -13.399999999999999 30% 85%;
    --muted-foreground: 24.6 5% 35%;
    --accent: -13.399999999999999 30% 80%;
    --accent-foreground: 24.6 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 24.6 5% 90%;
    --border: 24.6 30% 50%;
    --input: 24.6 30% 20%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 24.6 45% 10%;
    --foreground: 24.6 5% 90%;
    --card: 24.6 45% 10%;
    --card-foreground: 24.6 5% 90%;
    --popover: 24.6 45% 5%;
    --popover-foreground: 24.6 5% 90%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24.6 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -13.399999999999999 30% 20%;
    --muted-foreground: 24.6 5% 60%;
    --accent: -13.399999999999999 30% 20%;
    --accent-foreground: 24.6 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 24.6 5% 90%;
    --border: 24.6 30% 20%;
    --input: 24.6 30% 20%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}